################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/LingLong.Bll/obj/Debug
/LingLong.Bll/obj/Release
/LingLong.Common/obj
/LingLong.Dal/obj
/LingLong.Model/obj/Release
/LingLong.WebApi/obj
/LingLong.WebApi/bin
